
.btn{
    border-radius: 1.5rem;
    padding: 9px 20px;
}
.search-box{
    position: relative;
    padding-left: 100px;
    margin-top: 20px;
}
.search-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.single-result{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    border: 1px solid goldenrod;
    border-radius: 20px;
    text-align: center;
    width: 400px;
    

}
.single-result img{
    width: 200px;
    
}
#mealDetails {
    width: 200px;
    text-align: center;
    margin-left: 50px;
}
#mealDetails img{
    width: 200px;
    text-align: center;
    margin-left: 50px;
}